<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.mapper.CompetitionProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.entity.CompetitionProblem">
        <id column="cpid" property="cpid" />
        <result column="cid" property="cid" />
        <result column="pid" property="pid" />
        <result column="score" property="score" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cpid, cid, pid, score
    </sql>

</mapper>
