<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.LanguageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.Language">
        <id column="language_id" property="languageId" />
        <result column="language_slug" property="languageSlug" />
        <result column="language_name" property="languageName" />
        <result column="language_compile_command" property="languageCompileCommand" />
        <result column="language_run_command" property="languageRunCommand" />
        <result column="language_suffix" property="languageSuffix" />
        <result column="language_description" property="languageDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        language_id, language_slug, language_name, language_compile_command, language_run_command, language_suffix, language_description
    </sql>

</mapper>
