<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.ProblemTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.ProblemTag">
        <id column="ptid" property="ptid" />
        <result column="pid" property="pid" />
        <result column="tid" property="tid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ptid, pid, tid
    </sql>

</mapper>
