<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.ProblemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.Problem">
        <id column="pid" property="pid" />
        <result column="add_uid" property="addUid" />
        <result column="add_username" property="addUsername" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="f_input" property="fInput" />
        <result column="f_output" property="fOutput" />
        <result column="time_limit" property="timeLimit" />
        <result column="memory_limit" property="memoryLimit" />
        <result column="submit_num" property="submitNum" />
        <result column="solved_num" property="solvedNum" />
        <result column="author" property="author" />
        <result column="special_judge" property="specialJudge" />
        <result column="hint" property="hint" />
        <result column="status" property="status"/>
    </resultMap>

    <!-- 关联样例输入输出查询映射结果 -->
    <resultMap id="ProblemViewResultMap" type="cn.edu.nciae.contentcenter.common.vo.ProblemVO">
        <id column="pid" property="pid" />
        <result column="add_uid" property="addUid" />
        <result column="add_username" property="addUsername" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="f_input" property="fInput" />
        <result column="f_output" property="fOutput" />
        <result column="time_limit" property="timeLimit" />
        <result column="memory_limit" property="memoryLimit" />
        <result column="submit_num" property="submitNum" />
        <result column="solved_num" property="solvedNum" />
        <result column="author" property="author" />
        <result column="special_judge" property="specialJudge" />
        <result column="hint" property="hint" />
        <result column="status" property="status"/>
        <collection column="pid" property="samples" ofType="cn.edu.nciae.contentcenter.common.entity.Sample"
                    select="cn.edu.nciae.contentcenter.common.mapper.SampleMapper.selectSampleListByPid"/>
        <collection column="pid" property="tags" ofType="cn.edu.nciae.contentcenter.common.entity.Tag"
                    select="cn.edu.nciae.contentcenter.common.mapper.TagMapper.selectTagListByPid"/>
        <collection column="pid" property="languages" ofType="java.lang.String"
                    select="cn.edu.nciae.contentcenter.common.mapper.LanguageMapper.selectNameOfAllLanguages"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, add_uid, add_username, title, description, f_input, f_output, time_limit, memory_limit, submit_num, solved_num, author, special_judge, hint, status
    </sql>

    <!-- 获取全部problems-->
    <select id="listProblemVOByPaging" resultMap="ProblemViewResultMap">
        select * from `problem`
    </select>

    <select id="listProblemsByPagingWithKeyword" resultMap="ProblemViewResultMap">
        select *
        from `problem` p
        <where>
            <if test="keyword!=null and keyword!=''">
                CONCAT(p.pid,p.title) LIKE '%' #{keyword} '%'
            </if>
        </where>
    </select>

    <select id="selectProblemVOByPid" parameterType="Long" resultMap="ProblemViewResultMap">
        select * from `problem` where `problem`.pid = #{pid}
    </select>

</mapper>
