<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.ProblemTagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.ProblemTag">
        <id column="ptid" property="ptid" />
        <result column="pid" property="pid" />
        <result column="tid" property="tid" />
    </resultMap>

    <!-- 关联样例输入输出查询映射结果 -->
    <resultMap id="ProblemViewResultMap" type="cn.edu.nciae.contentcenter.common.vo.ProblemVO">
        <id column="pid" property="pid" />
        <result column="add_uid" property="addUid" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="f_input" property="fInput" />
        <result column="f_output" property="fOutput" />
        <result column="time_limit" property="timeLimit" />
        <result column="memory_limit" property="memoryLimit" />
        <result column="submit_num" property="submitNum" />
        <result column="solved_num" property="solvedNum" />
        <result column="author" property="author" />
        <result column="special_judge" property="specialJudge" />
        <result column="hint" property="hint" />
        <collection column="pid" property="samples" ofType="cn.edu.nciae.contentcenter.common.entity.Sample" select="selectSampleListByPid"/>
        <collection column="pid" property="tags" ofType="cn.edu.nciae.contentcenter.common.entity.Tag" select="selectTagListByPid"/>
        <collection column="pid" property="languages" ofType="java.lang.String" select="selectNameOfAllLanguages"/>
    </resultMap>

    <!-- Sample输入输出查询映射结果 -->
    <resultMap id="SampleResultMap" type="cn.edu.nciae.contentcenter.common.entity.Sample">
        <id column="sid" property="sid" />
        <result column="pid" property="pid" />
        <result column="input" property="input" />
        <result column="output" property="output" />
    </resultMap>

    <!-- Tag查询映射结果 -->
    <resultMap id="TagResultMap" type="cn.edu.nciae.contentcenter.common.entity.Tag">
        <id column="tid" property="tid" />
        <result column="t_name" property="tName" />
        <result column="t_description" property="tDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ptid, pid, tid
    </sql>

    <select id="listProblemVOByTag" parameterType="java.lang.String" resultMap="ProblemViewResultMap">
        select *
        from `problem` p,`problem_tag` pt,`tag` t
        where p.pid=pt.pid and t.tid=pt.tid
    </select>

    <!-- 问题样例一对多关系子查询方法-->
    <select id="selectSampleListByPid" resultMap="SampleResultMap">
        select * from `sample` where `sample`.`pid` = #{pid}
    </select>

    <!-- 问题标签一对多关系子查询方法-->
    <select id="selectTagListByPid" resultMap="TagResultMap">
        select * from `problem_tag` pt, `tag` t where pt.`pid` = #{pid} and pt.`tid` = t.`tid`
    </select>

    <!-- -->
    <select id="selectNameOfAllLanguages" resultType="java.lang.String">
        select `language_name` from `languages`
    </select>


</mapper>
