<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.SampleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.Sample">
        <id column="sid" property="sid" />
        <result column="pid" property="pid" />
        <result column="input" property="input" />
        <result column="output" property="output" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sid, pid, input, output
    </sql>

    <!-- 问题样例一对多关系子查询方法-->
    <select id="selectSampleListByPid" resultMap="BaseResultMap">
        select * from `sample` where `sample`.`pid` = #{pid}
    </select>

</mapper>
