<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.contentcenter.common.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.contentcenter.common.entity.Tag">
        <id column="tid" property="tid" />
        <result column="t_name" property="tName" />
        <result column="t_description" property="tDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tid, t_name, t_description
    </sql>

    <!-- 问题标签一对多关系子查询方法-->
    <select id="selectTagListByPid" resultMap="BaseResultMap">
        select * from `problem_tag` pt, `tag` t where pt.`pid` = #{pid} and pt.`tid` = t.`tid`
    </select>

</mapper>
