<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nciae.usercenter.mapper.RoleResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.nciae.usercenter.entity.RoleResource">
        <id column="rrid" property="rrid" />
        <result column="role_id" property="roleId" />
        <result column="resource_id" property="resourceId" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rrid, role_id, resource_id, description
    </sql>

</mapper>
